#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.LogoImagen {
  width: 140px;
  height: 140px;
  margin-left: 35%;
}

.agendarr {
  text-align: center;
}

.inicioyregistro {

  border-radius: 5cm;
  border-color: blue;
}

.inicioyregistro:hover {

  border-radius: 5cm;
  border-color: blue;

}