<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<ion-header> 
  <ion-toolbar> 
    <ion-title style="color: rgb(24, 105, 255);">
      <ion-back-button style="height: 20px; width: 20px; " default-href="/home"></ion-back-button> Eye 
    </ion-title>
    
  </ion-toolbar>
</ion-header> 
<ion-content [fullscreen]="true" class="ion-padding"> <br>
  <h1 style="text-align: center;">Nuestra Sucursal</h1><br>
  <h1 style="text-align: center;">Más</h1><br>
  <h1 style="text-align: center;">Visitada se ubica en Japón - Shibuya</h1><br>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25931.2832868717!2d139.67201654256561!3d35.666895211486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cb2eb3108d1%3A0xf11cd9b2395b6677!2sShibuya%2C%20Tokio%2C%20Jap%C3%B3n!5e0!3m2!1ses!2scl!4v1725258428224!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title> Log </ion-title> 
  </ion-toolbar>
</ion-footer>
